<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.xsrf.eualertoverlay">

    <!--
        See https://source.android.com/devices/architecture/rros#setting-up-the-manifest
    -->

    <application
        android:hasCode="false" />

    <overlay
        android:targetPackage="com.android.cellbroadcastreceiver"
        android:isStatic="true" />

</manifest>